@model IEnumerable<WebBanHangOnline.Models.EF.Order>
@using WebBanHangOnline.Common
@if (Model != null)
{
    var i = 1;
    <h2 class="mt-3">Lịch sử mua hàng</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>STT</td>
                <td>Mã đơn hàng</td>
                <td>Tổng số tiền</td>
                <td>Trạng thái đơn hàng </td>
                <td>Ngày tạo</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.Code</td>
                    <td>@Common.FormatNumber(item.TotalAmount, 0)</td>
                    <td>@(item.TypePayment==1?"Chờ xác nhận":item.TypePayment==2?"Đã xác nhận":"Hủy đơn hàng")</td>
                    <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}
